
body{
    background-color: #FBF4EE;

}
#top-bar{
    background-color: #2A9D8F;
}

.logo {
    width: 20rem;
    box-sizing: content-box;
}

#cont-central{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 3rem!important;
    margin-right: 3rem!important;
}

.primary-buttons{
    width: 18rem;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.font-custom{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

#contenedor{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}