body{
    background-color: #FBF4EE;

}
#top-bar{
    background-color: #2A9D8F;
}

.logo {
    width: 20rem;
    box-sizing: content-box;
}
#cont-central{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.primary-buttons{
    width: 18rem;
    background-color: #e7e7e7;
    border-radius: 15px;
}

.font-custom{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}