.struct{
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
}

.prompt{
    width: 43.92%;
    min-width: 420px;
    text-align: left;
    background-color: #EFEFEF;
    border-radius: 15px;
    filter: drop-shadow(4px 4px 6px);
    margin: 150px auto auto auto;
    padding: 20px;
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}