.container-fluid{
    max-width: 50rem;
}
#container-sign-up {
    border-radius: 1rem;
}
body{
    background-color: #FBF4EE;
}
#btn-register{
    color: #ffffff;
    background-color: #2A9D8F;
    border-color: #2A9D8F;
}

#btn-cancel{
    color: #ffffff;
    background-color: #264653;
    border-color: #264653;
}